<!doctype html>
<html>
<head>
    <title>Project Tracker</title>
    <style>
        .in_line {
            display: inline-block;
            width: 300px;
        }
    </style>
</head>

<body>
    <h1>Project Tracker for All Students</h1>
   
   <div class="in_line">
    <h3> Students </h3>
    <ul>
        {% for first, last, github in students %}
            <li><a href="/student?github={{ github }}">{{ first }} {{ last }}</a></li>
        {% endfor %}

    </ul>
    </div>

    <div class="in_line">
    <h3> Projects </h3>
    <ul>
        {% for project in projects %}
            <li><a href="/project/{{ project[0] }}">{{ project[0] }}</a></li>
        {% endfor %}

    </ul>
    </div>


</body>
</html>
